/* Notes
---
16 shades of gray
(0123456789abcdef)
#000 = black
#666 = mid gray
#eee = super light gray
#fff = white
---
16px = 1em/1rem
- rem vs em Units in CSS
https://www.digitalocean.com/community/tutorials/css-rem-vs-em-units
*/

/* Layout */

body {
  max-width: 48rem;
  background-color: #eee;
  padding: 1rem;
  margin: 0 auto;
}

/* Sections */

header {
  background-color: #fff;
  padding: 1.5rem;
  border: 1px solid #000;
  margin-top: 1.5rem;
}

header h1 {
  margin-bottom: 0;
}

header p {  
  line-height: 1.15;
  margin-top: -2rem;
  margin-left: -0.75rem;
}

/* Headings */

h1 {
  font-family: "Courier New", monospace;
  word-spacing: -0.5rem;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.15em;
  letter-spacing: 0.035rem;
  text-transform: uppercase;
}

/* Paragraphs */

p {
  bottom-top: 0;
}

/* Typographic details */

mark {
  font-family: "Courier New", monospace;
  font-size: 0.85em;
  font-weight: bold;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  background-color: #6ff;
  padding: 0.3rem 0.35rem 0.25rem 0.5rem;
  border: 1px solid #000;
}

/* Figures */

figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption {
  margin-top: 0.5rem;
}

/* Flexible images */

img {
  width: auto;
  max-width: 100%;
  height: auto;
}
