/* Headings */

h1 {
  font-family: "Courier New", monospace;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/* Flexible images */

img {
  max-width: 100%;
  height: auto;
}
