/* Headings */

h1 {
  font-family: "Courier New", monospace;
  word-spacing: -0.5rem;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 0.035rem;
  text-transform: uppercase;
}

/* Flexible images */

img {
  max-width: 100%;
  height: auto;
}
